@font-face {
  font-family: "Clear Sans";
  src: url("../src/clear-sans.ttf") format("truetype");
}

body {
  display: flex;
  background: var(--color-background-body, white);
  background-image: url('./assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--color-text-primary, white);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.main-container {
  // background-image: url('./assets/images/bg.jpg');
  overflow: hidden;
}
.text {
  order: 2;
  padding-top: 40px;
  width: 460px;
  font-weight: bold;
}

.board-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-primary-dark, #eb5282);
}

.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: var(--color-primary-main, #f67098);
  border-radius: 7px;
  outline: none;
  position: relative;
  margin-left: 15%;
}

// .header-container {
  
// }

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-secondary, rgb(71, 60, 60));
  margin-top: 5rem;
}

h1 {
  text-align: center;
  font-weight: bolder;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  width: 40rem;
}

.score-card {
  height: 4rem;
  width: 48%;
  background-color: var(--color-primary-main, #f67098);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.join-cupcakes{
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.join-cupcakes p{
  color: var(--color-text-tertiary, rgb(29, 17, 17));
  font-size:larger;
}

.p-title{
  color: var(--color-text-tertiary, rgb(29, 17, 17));
  font-size: 13px;
  margin-top: 2; /* Remove top margin */
  margin-bottom: 3px; /* Add a small bottom margin */
  font-weight: bold;
}

.p-value{
  color: var(--color-text-primary, rgb(255, 255, 255));
  font-size: 18px;
  margin-top: 0; /* Remove top margin */
  margin-bottom: 20px; 
  font-weight: bolder;
}


.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.details-box {
  display: flex;
  align-items: center;
  
  padding: 10px;
  justify-content: center;
  margin-left: 0px;

}

.resetButton {
  background-color: var(--color-primary-main, #f67098);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  transition: var(--transitions-button, color 0.3s ease, background-color 0.3s ease);
  color: var(--color-text-secondary, rgb(71, 60, 60));

  &:hover {
    background-color: var(--color-primary-darker, #3d2963);
    color: var(--color-text-primary, rgba(255, 255, 255, 1));
  }
}

.score-header {
  font-size: 50%;
}

.score-box {
  background-color: var(--color-primary-dark, #eb5282);
  color: rgba(29, 17, 17, 0.5);
  min-width: 50px;
  width: 70px;
  padding: 5px 15px;
  border-radius: 7px;
}

.instructions {
  width: 520px;
  color: var(--color-text-quaternary, rgba(69, 42, 42, 0.863));
}

.instructions p{
  font-size: large;
  margin-left: 0%;
}

.legends {
  display: flex;
  flex-direction: column;
}

.legend-title {
  width: 440px;
  color: var(--color-text-tertiary, rgb(29, 17, 17));
}

.legends .legend-title p {
  font: larger;
  font-weight: bold;
}

.cake-details {
  height: fit-content;
  display: flex;
  color: var(--color-text-accent, #4d2523);
  margin-bottom: 1rem;
}

.cake-details .image-container {
  border: 8px solid var(--color-borders-cake-container, #f67098);
  border-radius: 10px;
}

.cake-details .image-container img {
  height: 75px;
  width: 75px;
}

.details-text {
  display: flex;
  align-items: center;
  
  margin-left: 2rem;
}

.details-text span {
  margin-left: 0px;
}
.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: var(--color-text-tile, #766);
  background-color: var(--color-primary-light, #f9a2bc);
}

.tile0 {
  background-color: var(--color-tiles-tile0, #dcb);
}

.tile2 {
  background-color: var(--color-tiles-tile2, #eee);
  background-image: url(./assets/images/2.jpg);
  background-size: cover;
  background-position: center;
}

.tile4 {
  background-color: var(--color-tiles-tile4, #eec);
  background-image: url(./assets/images/4.jpg);
  background-size: cover;
  background-position: center;
}

.tile8 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/8.jpg);
  background-size: cover;
  background-position: center;
}

.tile16 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/16.jpg);
  background-size: cover;
  background-position: center;
}

.tile32 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/32.jpg);
  background-size: cover;
  background-position: center;
}

.tile64 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/64.jpg);
  background-size: cover;
  background-position: center;
}

.tile128 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/128.jpg);
  background-size: cover;
  background-position: center;
}

.tile256 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/256.jpg);
  font-size: 45px;
  background-size: cover;
  background-position: center;
}

.tile512 {
  color: var(--color-text-tile-light, #ffe);
  background-image: url(./assets/images/512.jpg);
  font-size: 45px;
  background-size: cover;
  background-position: center;
}

.tile1024 {
  color: var(--color-text-tile-white, #fff);
  background-image: url(./assets/images/1024.jpg);
  font-size: 35px;
  background-size: cover;
  background-position: center;
}

.tile2048 {
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0px;
  color: var(--color-text-tile-white, #fff);
  background-image: url(./assets/images/2048.jpg);
  font-size: 35px;
  background-size: cover;
  background-position: center;
}

.try-again {
  z-index: 10;
  height: 100px;
  width: 100px;
  background-image: url(./assets/img/try-again.gif);
}

.tile {
  position: absolute;
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  border-radius: 7px;
}

.tryAgain {
  background-color: var(--color-background-overlay, #876);
  color: var(--color-text-tile-white, #fff);
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--color-borders-try-again, white);
}

.gameOver {
  background-size: contain;
  background-image: url(./assets/img/game-over.gif);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.overlay .message {
  color: var(--color-text-message, #666);
}
